body{
  background-color: gray !important;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

.skeleton-loading{
  background-color: rgb(98, 97, 97) !important;
}

.flex{
  display:flex;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-end{
  display: flex;
  justify-content: flex-end;
}